# Keep in sync with colab/containers/requirements.core.in image.
google-auth==2.38.0
ipykernel==6.17.1
ipython==7.34.0
jupyter-server==1.16.0
ipyparallel==8.8.0
pandas==2.2.2
portpicker==1.5.2
requests==2.32.3
tornado==6.4.2
absl-py==1.4.0
debugpy==1.8.15
ipywidgets==7.7.1
matplotlib==3.10.0
psutil==5.9.5
seaborn==0.13.2
traitlets==5.7.1
# Keep in sync with colab/containers/requirements.in image.
Flask==3.1.0
PyDrive2==1.21.1
PyYAML==6.0
Sphinx==8.2.3
albumentations==2.0.0
albucore==0.0.24
arviz==0.22.0
astropy==7.0
autograd==1.7
bigquery-magics==0.10.2
bottleneck==1.4.0
bokeh==3.7.2
cmake==3.31.2
community==1.0.0b1
cufflinks==0.17.0
cuda-python==12.6.0
cuml-cu12==25.6.0
cupy-cuda12x==13.3.0
cvxopt==1.3.0
cvxpy==1.6.0
cyipopt==1.5.0
cython==3.0.11
dask==2025.5.0
dataproc-spark-connect==0.8.1
datasets==4.0
diffusers==0.33
dlib==19.24.6
dopamine-rl==4.1.0
duckdb==1.3.0
earthengine-api==1.5.0
easydict==1.13
editdistance==0.8.0
einops==0.8.0
fastai==2.7.19
firebase-admin==6.7
folium==0.20
future==1.0.0
gcsfs==2025.3
geemap==0.35.1
geopandas==1.1
geopy==2.4.0
glob2==0.7
google-api-core==2.24
google-api-python-client==2.167
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.85
google-cloud-bigquery==3.31
google-cloud-bigquery-connection==1.18
google-cloud-core==2.4
google-cloud-datastore==2.20
google-cloud-firestore==2.20
google-cloud-functions==1.20
google-cloud-language==2.17
google-cloud-translate==3.20
google-generativeai==0.8
googledrivedownloader==1.1.0
gradio==5.37
graphviz==0.20
gym==0.25.0
h5py==3.13
hdbscan==0.8
highspy==1.10
holidays==0.66
holoviews==1.20
html5lib==1.1
httpimport==1.4
humanize==4.12
hyperopt==0.2
ibis-framework==9.5.0
imageio==2.37
imbalanced-learn==0.13
imutils==0.5
inflect==7.5
ipyleaflet==0.19
ipython-sql==0.5
jieba==0.42
jinja2==3.1
jsonschema==4.23
jupytext==1.17.1
keyrings.google-artifactregistry-auth==1.1.2
langchain==0.3.20
libpysal==4.13.0
lightgbm==4.6.0
lxml==5.4
matplotlib-venn==1.1
missingno==0.5
mizani==0.13.0
mkl==2025.2.0
mlxtend==0.23
more-itertools==10.7
moviepy==1.0.3
music21==9.3.0
natsort==8.4
nbconvert==7.16
nibabel==5.3
numba==0.60.0
oauth2client==4.0
openai==1.94
opencv-contrib-python==4.12
opencv-python==4.12
openpyxl==3.1
pandas-datareader==0.10
pandas-gbq==0.28
peft==0.15
pillow==11.3.0
plotnine==0.14.0
polars==1.25.2
progressbar2==4.5.0
prophet==1.1.6
protobuf==5.29.5
psycopg2==2.9.10
pyarrow==18.1.0
pycocotools==2.0.8
pydotplus==2.0.2
pydot==3.0.0
pygit2==1.17
pygments==2.18
pygobject==3.42
pymc==5.24
pyomo==6.8
pyopengl==3.1.7
pyspark==3.5
python-dateutil==2.8
python-louvain==0.16
pytz==2025.1
regex==2024.11.6
sentence-transformers==5.0
shap==0.47
spanner-graph-notebook==1.1
sqlalchemy==2.0.36
statsmodels==0.14.0
sympy==1.13.0
tables==3.10.1
tabulate==0.9.0
tensorboard==2.19.0
tensorflow==2.19.0
tensorflow-decision-forests==1.12.0
tensorflow-hub==0.16.1
tf-keras==2.19.0
keras==3.10.0
keras-hub==0.21.1
keras-nlp==0.21.1
textblob==0.19.0
timm==1.0.17
torchao==0.10.0
torchsummary==1.5.1
torchtune==0.6.1
tsfresh==0.21.0
tweepy==4.16
umap-learn==0.5.0
wandb==0.21
wordcloud==1.9.0
xarray==2025.7
xgboost==3.0
xlrd==2.0.1
yellowbrick==1.5
yfinance==0.2
